<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Gracias por registrarte en Sportivo, <%= @user.full_name %>!</h1>
    <p>¡Que tengas un excelente día!</p>
  </body>
</html>
