<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Sportivo for FIN</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/stylesheets/fontawesome.css">
    <link rel="stylesheet" href="assets/stylesheets/templatemo-sixteen.css">
    <link rel="stylesheet" href="assets/stylesheets/owl.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="#"><h2>Sportivo <em>for Fin</em></h2></a>
          <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
              <%= link_to "Homsse", root_path, class:"nav-link"%>
              </li> 
              <li class="nav-item">
              <%= link_to "Únete a un evento", activities_path, class: "nav-link"%>
              </li>
              <li class="nav-item">
              <%= link_to "Crea un Evento", new_activity_path, class:"nav-link" %>
              </li>
              <li class="nav-item">
              <%= link_to "Crea tu usuario", new_user_path, class:"nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
